data/posterior_analysis/TRAIN_DEV_TEST/en.tok
data/posterior_analysis/TRAIN_DEV_TEST/fr.tok
data/posterior_analysis/toy-ende/run/model_step_500.pt
data/posterior_analysis/toy-ende/run/model_step_1000.pt